{% extends 'AppEntrega1/padre.html' %}
{% load static %}
{% block titulo %}
<h2 class="mb-5">{{ user }}, aca podes completar o editar tu perfil</h2>
<h3>luego de editarlo, deberas loguearte nuevamente, hayas o no hayas cambiado tu contrasena</h3>
{% endblock %}

{% block que_cambia %} 

<!--OBS: despues de EDITAR PERFIL, al realizar otra accion, hace LOGOUT, al parecer es automatico, -->
<!--por el tema de haber reescrito la contrasenia!!-->

<body>
  
      </form>
    <form action="{% url 'update_perfil' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    
        <table>
            
            {{ user_form.as_table }}
            {{ perfil_form.as_table }}
        </table>
        
        <input type='submit' value="ACTUALIZAR PERFIL">
    </form>
    <!--le dejo el  {{ mensaje }} por si me sirve en algun momento.-->
    <h1>{{ mensaje }}</h1>
    <a  class="btn btn-warning" href="{% url 'info_perfil' %}">CANCELAR</a> 
    <a  class="btn btn-danger" href="{% url 'deleteUser' user %}">ELIMINAR MI USUARIO</a> 
</body>

{% endblock %}