{% extends 'AppEntrega1/padre.html' %}
{% load static %}

{% block titulo %}
<h1 class="mb-5">ABOUT</h1>
{% endblock %}

{% block que_cambia %}

<hr /><hr />
<h2><p style="text-align: center;"><span style="text-decoration: underline;">Paula Lezan.</span></p></h2>
<table style="height: 127px; width: 70%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr style="height: 127px;">
<td style="width: 100%; height: 127px; text-align: center;">
<p>Paula Lezán,  29 años, Argentina. 
    <br />Oriunda de Mendoza, ciudad del sol y del vino. Soy contadora por graduarme de la Universidad Nacional de Cuyo y trabajo actualmente para una startup de tecnologia dedicada a la venta del servicio de musica de background. Dada las complegidades de mi trabajo incursiono en python para estar mas al tanto de la programacion, clave en mi trabajo; ademas me interasa poder sumar capacitaciones en data analytics y data science. 
    Como toda buena mendocina, me encanta el vino y la montaña. Este blog esta dedicado al vinito y pensado para que muchos mas puedan disfrutarlo.</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><img height='600px' style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'AppEntrega1/assets/img/about/Paula.jpeg' %}" alt="Paula" /></p>


<hr /><hr />
<h2><p style="text-align: center;"><span style="text-decoration: underline;">Ramon Blanc, 37 anios, argentino.</span></p></h2>
<table style="height: 127px; width: 70%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr style="height: 127px;">
<td style="width: 100%; height: 127px; text-align: center;">
<p>Residente en la cuidad de Bariloche, Rio Negro, Argentina.<br />Dedicado actualmente a la construccion en seco, en madera, y a la carpinteria en general. Luego de haber hecho incursiones en BioConstruccion y sustentabilidad, realizado proyectos comerciales en diversas areas como agricultura organica y gastronomia, realizo este curso de programacion en Python iniciandome desde cero en programacion, y queriendo incursionar nuevamente en el mundo de la logica y las matematicas, ya que entre 2004 y 2008 estudie Lic. en Matematicas, UBA, y aunque paso mucho tiempo de eso, me interesa volver a estudiar y aprender temas como la estadistica, ciencia de datos, etc.</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><img height='600px' style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'AppEntrega1/assets/img/about/Ramon.jpeg' %}" alt="Ramon" /></p>


<hr /><hr />
<h2><p style="text-align: center;"><span style="text-decoration: underline;">Ricardo Jiemenz, 35 a&ntilde;os, mexicano.</span></p></h2>
<table style="height: 127px; width: 70%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr style="height: 127px;">
<td style="width: 100%; height: 127px; text-align: center;">
<p>Oriundo de Ciudad de M&eacute;xico.<br />Graduado como Ingeniero en Mecatr&oacute;nica por el IPN, ha trabajado durante 10 a&ntilde;os en areas relacionadas a tecnolog&iacute;as de la informaci&oacute;n como analista y coordinador de operaciones. Aficionado de la computaci&oacute;n, recien inicio una etapa de desarrollo profesional orientada a Business Intelligence y Data Anallytics, por lo que aprovecho las ofertas de CoderHouse para hacerse de unos buenos cursos en l&iacute;nea y comenzar a adentrarse en el mundo de la ciencia de datos y la programacion.</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><img height='600px' style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'AppEntrega1/assets/img/about/Ricardo.jpg' %}" alt="Ricardo" /></p>

{% endblock %}