{% extends 'AppEntrega1/padre.html' %}
{% load static %}

{% block titulo %}
<h1 class="mb-5">Entrega de Proyecto Final</h1><br>
<h2 class="mb-5">Programación en Python</h2>
<h2 class="mb-5">Comision 37360</h2>
{% endblock %}

{% block que_cambia %}
      


<div>
      <h2 style="text-align: center;"><strong>Bienvenido al proyecto final del curso de programación en Python de Coder House</strong></h2>
      <div>&nbsp;</div>
      <h3 style="text-align: center;">Comisión: 37360</h3>
      <div style="text-align: center;">&nbsp;</div>
      <h3 style="text-align: center;">Integrantes:&nbsp;</h3>
      <h4 style="text-align: center;">Paula Lezan</h4>
      <h4 style="text-align: center;">Ramón Blanc</h4>
      <h4 style="text-align: center;">Ricardo Jiménez</h4>
      <p>&nbsp;</p>
            <p><img style="border-style: solid; display: block; margin-left: auto; margin-right: auto;" src="{% static 'AppEntrega1/assets/img/inicio/CH.jpg' %}" alt="" width="660" height="306" /></p>
            </div>


      
{% endblock %}